* {
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}

li {
  /*border: 1px solid black;
  text-align: center;
  height: 80px;*/
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-screen {
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto;
  position: absolute;
  width: 100%;
}

.start-btn {
  margin: 15px auto;

}

.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 30px;
}

.game-board {
  display: flex;
  justify-content: space-around;
  height: 500px;
}
